{{- $scratch := newScratch }}

{{- $showResearchSummaries := site.Params.showResearchSummaries | default true }}
{{- $isResearchSection := eq .Section "research" }}
{{- $showDate := or $showResearchSummaries (not $isResearchSection) }}

{{- if and (not .Date.IsZero) $showDate -}}
{{- $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

{{- if (.Param "ShowReadingTime") -}}
{{- $scratch.Add "meta" (slice (i18n "read_time" .ReadingTime | default (printf "%d min" .ReadingTime))) }}
{{- end }}

{{- if (.Param "ShowWordCount") -}}
{{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

{{- if not (.Param "hideAuthor") -}}
{{- with (partial "author.html" .) }}
{{- $scratch.Add "meta" (slice .) }}
{{- end }}
{{- end }}

{{- with ($scratch.Get "meta") }}
{{- delimit . "&nbsp;&middot;&nbsp;" | safeHTML -}}
{{- end -}}

{{- $quickLinks := slice }}
{{- with .Params.quicklinks }}
  {{- with .paper }}
    {{- $quickLinks = $quickLinks | append (printf "<a href=\"%s\" class=\"research-link-button\">Paper</a>" .) }}
  {{- end }}
  {{- with .website }}
    {{- $quickLinks = $quickLinks | append (printf "<a href=\"%s\" class=\"research-link-button\">Website</a>" .) }}
  {{- end }}
  {{- with .workshop }}
    {{- $quickLinks = $quickLinks | append (printf "<a href=\"%s\" class=\"research-link-button\">Workshop</a>" .) }}
  {{- end }}
  {{- with .code }}
    {{- $quickLinks = $quickLinks | append (printf "<a href=\"%s\" class=\"research-link-button\">Code</a>" .) }}
  {{- end }}
{{- end }}

{{- if $quickLinks }}
  <span class="research-links-container">{{- delimit $quickLinks " " | safeHTML -}}</span>
{{- end -}}
